/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Relief', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    background-color: #aab0b3;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: inherit;
}

.logo-text {
    font-size: 20px;
    font-weight: 700;
}

.logo:hover .logo-text {
    color: #dc7201;
    text-shadow: 2px 2px 0 #000;
}

.nav-right {
    margin-left: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-variant: all-small-caps;
    color: #000;
    white-space: nowrap;
}

.nav-menu a:hover {
    color: #dc7201;
    text-shadow: 2px 2px 0 #000;
}

/* HERO */
.hero {
    min-height: 100vh;
    position: relative;
    background-image: url("img/bg-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 90px;
    background-color: rgb(153, 46, 46);
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-title h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    -webkit-text-stroke: 4px #000;
    white-space: nowrap;
}

/* SEZIONI */
.section {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 60px;
    padding: 100px;
    align-items: center;
}

/* COLONNA SINISTRA */
.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* TITOLI */
.title-box {
    background-color: #dc7201;
    height: 100px;
    width: 500px;
    border: 4px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-box h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    white-space: nowrap;
}

.title-box.small h1 {
    font-size: 40px;
}

/* IMMAGINI */
.fumetti {
    transform: scale(0.8);
}

/* TESTO */
.text-box {
    background-color: #aab0b3;
    padding: 50px;
    height: 400px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box p {
    font-size: 40px;
    line-height: 1.4;
}

/* FOOTER */
.footer {
    background-color: #e5dc3b;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

/* RESPONSIVE */
@media (max-width: 1024px) {

    .section {
        grid-template-columns: 1fr 1fr;
        padding: 60px;
        gap: 40px;
    }

    .hero-title {
        width: 100%;
    }

    .hero-title h1 {
        font-size: 20px;
        -webkit-text-stroke: 0;
    }

    .logo-text {
        font-size: 20px;
    }

    .title-box {
        width: 350px;
        padding: 20px;
    }

    .title-box h1 {
        font-size: 30px;
    }

    .fumetti {
        width: 100%;
        max-width: 350px;
    }

    .text-box {
        width: 100%;
        padding: 20px;
    }

    .text-box p {
        font-size: 25px;
    }
}

@media (max-width: 700px) {

    .navbar {
        padding: 20px;
    }

    .nav-menu {
        gap: 20px;
    }

    .nav-menu a {
        font-size: 16px;
    }

    .logo-text {
        font-size: 10px;
    }

    .section {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }

    .left-column {
        align-items: center;
        text-align: center;
    }

    .title-box {
        width: 100%;
        height: 70px;
    }

    .title-box h1 {
        font-size: 28px;
        white-space: nowrap;
    }

    .title-box.small h1 {
        font-size: 28px;
        white-space: nowrap;
    }

    .fumetti {
        max-width: 250px;
    }

    .text-box {
        width: 100%;
        padding: 10px;
        height: 170px;
    }

    .text-box p {
        font-size: 20px;
        text-align: center;
    }

    .footer-content {
        font-size: 10px;
    }

    .hero-title h1 {
        font-size: 15px;
        text-align: center;
        white-space: nowrap;
    }
}